@font-face {
  font-family: "Emblema One";
  src: url("EmblemaOne-Regular.woff"),
       url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

body{
	font-family: verdana, Geneva, Arial, sans-serif;
	font-size: normal;
}
h1,h2{
	border-bottom: thin dotted #888888;
	color: orange;
}
h1{
	font-family: "Emblema One", sans-serif;
	font-size: 2em;
}
h2{
	font-size: 1.3em;
	font-weight: normal;
}
table{
	margin-right: 20px;
	margin-left: 20px;
	border: thin solid black;
	caption-side: bottom;
	border-spacing: 0px;
	text-align: center;
}
th,td{
	padding: 5px;
	border: thin dotted gray;
}
caption{
	font-style: italic;
	padding: 10px;
}
th{
	background-color: #cc6600;
}
.orangeRow{
	background-color:  #fcba7a;
}
blockquote{
	font-style: italic;
}