@font-face {
  font-family: "Emblema One";
  src: url("EmblemaOne-Regular.woff"),
       url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf");
}

body{
	font-family: verdana, Geneva, Arial, sans-serif;
	font-size: normal;
}
h1,h2{
	border-bottom: thin dotted #888888;
	color: orange;
}
h1{
	font-family: "Emblema One", sans-serif;
	font-size: 2em;
}
h2{
	font-size: 1.3em;
	font-weight: normal;
}
blockquote{
	font-style: italic;
}